.pink{
  height: auto;
  width: 700px;
}

.plum{
  width: 700px;
  position: absolute;
  right: 572px;
}

.purple{
  width: 700px;
  position: absolute;
  right: 572px;
}

.blue{
  width: 700px;
  position: absolute;
  right: 572px;
}

.darkblue{
  width: 700px;
  position: absolute;
  right: 572px;
}

.darkgreen{
  width: 700px;
  position: absolute;
  right: 572px;
}

.green{
  width: 700px;
  position: absolute;
  right: 572px;
}
